@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@400;600&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {font-size: 62.2%;}

/* =============================================================== */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  background-color: hsl(257, 40%, 49%);
}

body .bg-img {
  position: absolute;
}

.logo img {
  width: 120px;
  margin: 30px;
}

.main-image img {
  width: 300px;
  margin-top: 10px;
  margin-left: 30px;
}

.main-section {
  margin: 30px;
}

.main-section h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 2.4rem;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.main-section p {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  line-height: 24px;
  text-align: center;
}

